body {
    margin: 5px auto;
    width: 90%;
}
nav ul, footer ul {
    /*font-family: 'Georgia'; */
    padding: 10px;
    list-style: none;
}
nav ul li, footer ul li { /*menu*/
    display: inline;
    /*text-transform: uppercase;*/
    text-align: center;
    padding-left:100px;
}
a { /*link*/
    text-decoration: none;
    /*color: #999;*/
    color: #8342f8;
}
