body {
    font-family: 'Courier New';
    margin: 2px auto;
    margin-top: 2px;
    width: 90%;
}

}
a { text-decoration: none;
    color: #00FF00;
}

/*
nav ul, footer ul {
    font-family: 'Courier New';
    padding: 10px;
    list-style: none;
}
nav ul li, footer ul li { 
    display: inline;
    text-align: center;
    padding-left:100px;

*/
